# Node/Vite
node_modules/
dist/
.vite/
.eslintcache
.DS_Store
Thumbs.db
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/
.parcel-cache/
.turbo/
.cache/
*.tsbuildinfo
.swc/
.idea/
.vscode/
*.local
*.log
coverage/
junit.xml
reports/
*.bak
*.tmp
*.swp
*.swo
~$*
*.orig
*.rej
.vercel/
.netlify/
.firebase/
firebase-debug.log
firebase-debug.*.log
.next/
out/
build/
storybook-static/
.sass-cache/
.stencil/
.svelte-kit/
/.svelte-kit
.nx/
.angular/
*.iml
*.ipr
*.iws
*.code-workspace
*.tgz
*.zip
*.7z
*.tar
*.gz
*.rar
*.tmp
*.temp
*.backup
*.bak
*.swp
*.idx
*.lock
*.pid
*.seed
*.pid.lock
*.orig
.history/
.repl_history
nohup.out
.npm/
.yarn/
.pnp.*
.cache/
.parcel-cache/
.docusaurus/
.astro/
.hugo_cache/
.sass-cache/
/.cache-loader/
/.rpt2_cache/
/.awcache/
/.changelog/
.serverless/
.fusebox/
__generated__/
__pycache__/
*.pyc
*.pyo
*.pyd
*.class
.classpath
.project
.settings/
target/
.cargo/
src-tauri/target/
src-tauri/.cargo/
src-tauri/.tauri-lock
src-tauri/gen/
src-tauri/.rustc_info.json
src-tauri/.vercel/
src-tauri/.netlify/
src-tauri/.idea/
src-tauri/.vscode/
src-tauri/*.log
